div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a8cf45;
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 120px;
    height: 50px;
    margin: 30px 0 0 10px;
}

p{
    padding-top: 15px;
}

.caja:hover{
    animation: 5s cambia_color 1 ;
}

@-webkit-keyframes cambia_color{

    0%,70%{background-color: blue;}
    50%{
        background-color: red;
        height: 200px;
    }

}