div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}

.caja:hover{
animation: 1s chicle 1;
}

@-webkit-keyframes chicle{
    30%{
        transform: scaleX(1.25)
        scaleY(0.75);
    }
    50%{
        transform: scaleX(0.75)
        scaleY(1.25);
    }
    60%{
        transform: scaleX(1.15)
        scaleY(0.85);
    }
}