div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}

.caja{
    animation: 2s anima 1;
}

@-webkit-keyframes anima{

    20%,50%,80% {
        transform: translateY(0px);

    }
    30%{
        transform: translateY(-45px);
    }
    60%{
         transform: translateY(-25px);
    }

}