div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}

.caja:hover{
    animation: 1s anima 1;
}

@-webkit-keyframes anima{
    15%{
        transform: rotate(-10deg)
        translateX(-25%);
    }
    30%{
        transform: rotate(5deg)
        translateX(20%);
    }
    45%{
        transform: rotate(-3deg)
        translateX(-10%);
    }
    60%{
        transform: rotate(2deg)
        translateX(5%);    }
    75%{
        transform:rotate(-1deg)
        translateX(-3%);
    }
}