div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: block;
    vertical-align: middle;
}

.caja{
    animation: 1s anima 1;
}
.caja2{
    animation: 1s anima2 1;

}

@-webkit-keyframes anima{

    0%{
        opacity: 0;
        transform: translateX(-100%)
        rotate(-260deg);
    }
}
@-webkit-keyframes anima2{

    100%{
        opacity: 0;
        transform: translateX(100%)
        rotate(-260deg);
    }
}