div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}

.caja:hover{
    animation: 1s vibracion infinite;
}

@-webkit-keyframes vibracion{
    10%,30%,50%,70%,90%{
        transform: translateX(-10px);
    }
    20%,40%,60%,80%{
        transform: translateX(10px);
    }
    5%,25%,45%,65%,85%{
        transform: translateY(-10px);
    }
    15%,35%,55%,75%{
        transform: translateY(10px);
    }
}