div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}

.caja:hover{
animation: 1s anima 1;
}

@-webkit-keyframes anima{
    20%{
        transform: scale(0.7)
        rotate(-6deg);
    }
    30%,70%{
        transform: scale(1.1)
        rotate(6deg);
    }
    40%,90%{
        transform: scale(1.1)
        rotate(-6deg);
    }
}