div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}


.caja:hover{
animation: 1s flash 1;
}

@-webkit-keyframes flash{
 
    50%{
        opacity: 1;
    }
    25%,75%{
        opacity: 0;
    }
}