div{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(77, 59%, 54%);
    text-align: center;
    font-weight: bolder;
    position: relative;
    width: 80px;
    margin: 15px 2px;
    padding: 5px 40px;
    display: inline-block;
    vertical-align: middle;
}

.caja:hover{
    animation: 0.7s click 1;
}

@-webkit-keyframes  click{
    25%,75%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.1);
    }
}